.home-price {
  &__inner {
    @include fluid-value('padding-bottom', 135, 60, '', 768);
  }

  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    @include regular-14-11;
    color: #787171;
    text-align: center;
    margin-bottom: 50px;
  }

  &__country {
    display: flex;
    justify-content: space-between;
  }

  &__country-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
  }

  &__country-img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  &__country-title {
    @include bold-18-14;
    color: $white;
    margin-bottom: 20px;
  }

  &__country-type {
    margin-bottom: 30px;
  }

  &__country-type-item {
    @include regular-16-13;
    color: $white;
    display: flex;
    align-items: center;
    &::before {
      margin-right: 10px;
    }
    & + & {
      margin-top: 10px;
    }
  }
  &__btn-more {
    width: 100%;
  }
}
