.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 0;
  }

  &__logo {
  }

  // &__nav {
  // }

  // &__menu {
  //   display: flex;
  // }

  // &__menu-item {
  //   & + & {
  //     margin-left: 50px;
  //   }

  //   &--submenu {
  //     display: flex;
  //     position: relative;
  //     align-items: center;
  //     &::after {
  //       content: '';
  //       display: block;
  //       width: 0;
  //       height: 0;
  //       border-style: solid;
  //       border-width: 6px 4px 0 4px;
  //       border-color: $red transparent transparent transparent;
  //       margin-top: 4px;
  //       margin-left: 5px;
  //     }
  //   }
  // }

  // &__menu-link {
  //   display: block;
  //   @include bold-18-14;
  //   &--active {
  //     color: $red;
  //   }
  // }

  // &__submenu {
  //   position: absolute;
  //   top: calc(100% + 24px);
  //   left: 0;
  //   // visibility: hidden;
  //   // opacity: 0;
  //   // transform: translateY(-20%);
  // }

  // &__submenu-item {
  //   & + & {
  //     margin-top: 12px;
  //   }
  // }

  // &__submenu-link {
  //   &--active {
  //     color: $red;
  //   }
  // }

  &__phone {
    display: flex;
    align-items: center;
    &::before {
      content: '';
      display: block;
      background-image: url(../img/icons/phone.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 18px;
      height: 18px;
      margin-right: 5px;
    }
  }

  &__btn-feedback {
  }
}
