@media (max-width: 1024px) {
  .header {
    &__btn-menu-open {
      display: flex;
    }

    .lang {
      display: none;
    }
    &__nav {
      display: none;
    }
  }

  .header--mobile {
    display: block;
    .header__nav {
      display: block;
    }

    .header__phone {
      display: none;
    }
    .header__btn-feedback {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__inner {
      padding: 12px 0;
      justify-content: stretch;
    }
    &__phone {
      display: none;
    }
    &__btn-feedback {
      display: none;
    }
    &__btn-menu-open {
      justify-self: start;
    }

    &__logo {
      width: 140px;
      margin: 0 auto;
    }
  }

  .header--mobile {
    .header__phone {
      display: flex;
    }
    .header__btn-feedback {
      display: block;
    }
  }
}
