.footer {
  background-color: $black;

  &__inner {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
  }

  .menu__item + .menu__item {
    margin-left: 50px;
  }
}
