.home-banner {
  &__inner {
    @include fluid-value('padding-top', 120, 40, '', 768);
    @include fluid-value('padding-bottom', 110, 60, '', 768);
  }

  &__title {
    @include bold-38-29;
    //  @include fluid-value(' margin-bottom', 40, 15, '', 1024);
    margin-bottom: 40px;
    color: $white;
    span {
      color: $red;
    }
    max-width: 18.1em;
  }

  &__subtitle {
    @include bold-18-14;

    //  @include fluid-value(' margin-bottom', 60, 40, '', 1024);
    color: $white;
    margin-bottom: 60px;
  }

  &__btn-feedback {
    //@include fluid-value(' margin-bottom', 160, 100, '', 1024);
    margin-bottom: 160px;
  }

  &__img {
    display: none;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  &__adv {
    display: flex;
    justify-content: space-between;
  }

  &__adv-item {
    flex-grow: 1;
    max-width: 15em;
    display: inline-block;
    &:nth-child(2) {
      position: relative;
      max-width: 234px;
      // &::after,
      // &::before {
      //   content: '';
      //   position: absolute;
      //   display: block;
      //   top: 0;
      //   height: 100%;
      //   width: 1px;
      //   background-color: $red;
      // }
      // &::after {
      //   left: -35%;
      // }
      // &::before {
      //   right: -35%;
      // }
    }
  }

  &__adv-divider {
    display: block;
    width: 1px;
    background-color: $red;
  }

  &__adv-title {
    color: $red;
    margin-bottom: 10px;
  }

  &__adv-text {
    color: $white;
  }

  &__social {
  }

  &__social-item {
  }

  &__social-link {
  }
}
